@charset "utf-8";

// CSS variables

:root {
  --text-color: #111;
  --background-color: #f0f0f0;
  --code-background-color: #eef;
  --site-title-color: #424242;
  --site-header-background-color: #e9e9e9;
  --border-color: #e8e8e8;
  --link-color: #ff9900;
  --hr-color: #ccc;
}

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #f0f0f0 !default;
// $brand-color:      #2a7ae2 !default;
$brand-color:      #ff9900 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$header-color:     #e9e9e9;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #dddcdd;
    --background-color: #1e1c1f;
    --code-background-color: #373738;
    --site-title-color: #f0f0f0;
    --site-header-background-color: #3c3b40;
    --border-color: #232225;
    --link-color: #ff9900;
    --hr-color: #333;
  }

  table {
    margin-bottom: $spacing-unit;
    width: 100%;
    text-align: $table-text-align;
    color: lighten(#fff, 18%);
    border-collapse: collapse;
    border: 1px solid #232225;
    box-shadow: 0px 5px 20px rgba(90, 90, 90, 0.35);
    border-radius: 3px;
    tr {
      &:nth-child(even) {
        background-color: darken(#232225, 6%);
      }
      :first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      :last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
    th, td {
      padding: ($spacing-unit / 3) ($spacing-unit / 2);
    }
    th {
      background-color: lighten(#232225, 10%);
      border: 1px solid #232225;
    }
    td {
      border: 1px solid #232225;
    }
  }
}
